{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "printWidth": 100,
        "arrowParens": "avoid",
        "jsxBracketSameLine": true,
        "bracketSpacing": true,
        "useTabs": false,
        "tabWidth": 2,
        "endOfLine": "auto"
      }
    }
  ]
}
